@tailwind base;
@tailwind components;
@tailwind utilities;

/* globals.css */
:root {
  --background-color: white;
  --text-color: black;
  --font-size-mobile: 12px;
  --font-size-desktop: 16px;
}



body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-size: var(--font-size-mobile); /* Ukuran font default untuk perangkat mobile */
}

/* Ukuran font untuk perangkat desktop */
@media (min-width: 768px) {
  body {
    font-size: var(--font-size-desktop);
  }
}
